* {
    padding: 0;
    margin: 0;
}

body {
    font-size: 1.2em;
    font-family: Tahoma, sans-serif;
}

header {
    background-color: #FFB78B;
    text-align: center;
}

h1 {
    display: inline-block;
    font-family: fantasy;
    font-size: 2.5em;
}

h1::before {
    content: "/ FrontEnd / ";
    font-size: .5em;
}

h2 {
    display: inline-block;
    margin: 30px;
    font-size: 1em;
    text-align: center;
}

h3 {
    font-size: .8em;
    margin: 10px;
}

h4,
figcaption {
    color: #3EA3FF;
}

h4 {
    margin: 20px;
}

.logo {
    padding: 20px;
}

.wrapper {
    margin: 0 auto;
}

.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding-bottom: 30px;
}

.flex-item {
    flex: 0 1 250px;
}

.person {
    margin: 10px 10px 20px;
    padding: 20px;
    border: 1px solid #FF8F00;
    border-radius: 5px;
    text-align: center;
}

.inside {
    text-align: center;
}

.inside > .person {
    display: inline-block;
}

a {
    color: #000;
    text-decoration: none;
}

a.custom-link {
    display: block;
    margin-top: 30px;
    border: 1px solid #9BC7EF;
    background-color: ##ff4800;
    font-size: 25px;
    padding: 10px;
}

a.custom-link:hover {
    background-color: white;
    color: #3EA3FF;
    border: 1px solid #3EA3FF;
}

.product {
    margin: 10px;
}

.product img {
    margin: 20px;
}

figcaption {
    margin-top: 20px;
    text-align: center;
    font-size: 1.5em;
}

figcaption a {
    color: #9F4CDC;
    text-decoration: underline;
}

.img-circle {
    width: 150px;
    border-radius: 50%;
}

.centered {
    display: block;
    margin: 50px auto;
    width: 500px;
    text-align: center;
}

footer {
    position: relative;
    box-sizing: border-box;
    background-color: #100344;
    color: #A6ABB5;
    font-size: .8em;
}

.links {
    display: inline-block;
    width: 70%;
    border-right: 1px solid #A6ABB5;
    text-align: left;
}

footer {
    padding: 20px;
}

footer ul {
    list-style-type: none;
}

footer a {
    margin: 5px;
    display: block;
    color: #A6ABB5;
    font-size: .7em;
    text-decoration: underline;
}

.right {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

@media screen and (max-width: 1460px) {
        .flex-container {
            flex-flow: column nowrap;
            justify-content: center;
        }

        .person {
            display: inline-block;
            text-align: center;
        }

        .flex-item {
            text-align: center;
        }

        .flex-item-main {
            order: 7;
        }
}

/* PRODUCT */

.wrapper > h2 {
    display: block;
    margin: 20px auto;
    color: #FF8D00;
    font-variant: small-caps;
    font-size: 2.5em;
}

.tags {
    width: 900px;
}

.motivator {
    margin: 20px 10px 20px;
    padding: 25px;
    font-size: 1.1em;
    line-height: 28px;
    border: 2px solid #af4948;
}

div.motivator::first-letter {
    font-size: 1.5em;
    color: #FF4800;
}

.slogan {
    margin: 20px auto;
    width: 70%;
    color: #4F91D8;
}

.emphasis {
    color: #FF4800;
    font-size: 2em;
    line-height: 2.2em;
}

.description {
    background-color: #96A2B5;
    padding: 30px;
}

section.flex-container {
    align-items: center;
    text-align: center;
}

section.flex-container > * {
    margin: 30px;
}

.description figcaption {
    font-size: .8em;
    color: white;
}

.icons {
    margin: 30px;
}
